<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/admin/admin_layout_base.css" rel="stylesheet">
    <link href="/css/admin/game_story.css" th:if="${pageType == 'gameStory'}" rel="stylesheet">

</head>
<body>

<!--Riddle Box Admin Page Base Layout-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-3 mr-0 px-3" href="#">🎲RIDDLE BOX ADMIN</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav flex-row px-3">
        <a class="nav-link pr-5" href="#">김당근 [사원] 님 </a> <!-- 현재 로그인한 사용자 이름 표시. 누르면 마이페이지로 -->
        <span class="nav-link pr-5">로그인 2024/01/29 15:23:44</span> <!--로그인 시점-->
        <a class="nav-link" href="#">로그아웃</a> <!--세션따라 로그인/로그아웃-->
    </div>
</nav>


<div class="container-fluid">

    <div class="row">

        <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
            <p th:replace="~{layout/admin/admin_sidebar_menu :: adminSidebarMenu}">adminSidebarMenu</p>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" th:switch="${pageType}">

            <div th:case="'gameList'">
                <!-- 게임 목록 -->
                <p th:replace="~{layout/admin/game/game_list :: top_title}"></p>
                <p th:replace="~{layout/admin/game/game_list :: bottom_content}"></p>
            </div>

            <div th:case="'gameRedords'">
                <!-- 게임 기록 -->
                <p th:replace="~{layout/admin/game/game_records_list :: top_title}"></p>
                <p th:replace="~{layout/admin/game/game_records_list :: bottom_content}"></p>
            </div>

            <div th:case="'noticeList'">
                <!-- 공지사항 관련 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/support/notice_list :: top_title}"></p>
                <p th:replace="~{layout/admin/support/notice_list :: bottom_content}"></p>
            </div>

            <div th:case="'noticeDetail'">
                <!-- 공지사항 관련 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/support/notice_detail :: top_title}"></p>
                <p th:replace="~{layout/admin/support/notice_detail :: bottom_content}"></p>
            </div>

            <div th:case="'faqList'">
                <!-- 기본 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/support/faq_list :: top_title}"></p>
                <p th:replace="~{layout/admin/support/faq_list :: bottom_content}"></p>
            </div>

            <div th:case="'faqDetail'">
                <!-- 공지사항 관련 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/support/notice_detail :: top_title}"></p>
                <p th:replace="~{layout/admin/support/notice_detail :: bottom_content}"></p>
            </div>

            <div th:case="'inquiryList'">
                <!-- 기본 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/support/inquiry_list :: top_title}"></p>
                <p th:replace="~{layout/admin/support/inquiry_list :: bottom_content}"></p>
            </div>

            <div th:case="'faqDetail'">
                <!-- 공지사항 관련 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/support/notice_detail :: top_title}"></p>
                <p th:replace="~{layout/admin/support/notice_detail :: bottom_content}"></p>
            </div>

            <div th:case="'members'">
                <!-- 기본 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/user/member_list :: top_title}"></p>
                <p th:replace="~{layout/admin/user/member_list :: bottom_content}"></p>
            </div>

            <div th:case="'admin'">
                <!-- 기본 상단 타이틀 및 컨텐츠 -->
                <p th:replace="~{layout/admin/user/admin_list :: top_title}"></p>
                <p th:replace="~{layout/admin/user/admin_list :: bottom_content}"></p>
            </div>

<!--            <div th:case="*">-->
<!--                &lt;!&ndash; 기본 상단 타이틀 및 컨텐츠 &ndash;&gt;-->
<!--                <p th:replace="~{layout/admin/default_template :: top_title}"></p>-->
<!--                <p th:replace="~{layout/admin/default_template :: bottom_content}"></p>-->
<!--            </div>-->

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
