<div th:fragment="adminSidebarMenu" class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <input class="form-control form-control-dark nav-link" type="text" placeholder="Search" aria-label="Search"
                   style="margin-right: auto; caret-color: black;"> <!-- 길이를 w-40에서 w-25로 변경하고 오른쪽 자동 마진 추가 -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                HOME
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-category" href="#"><!--나중에 대분류는 대시보드로 만들기-->
                🎲아케이드관리
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                🟣 게임 목록
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                🟣 게임 기록
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-category" href="#">
                🧑🏻‍💻고객센터관리
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                🟢 공지사항
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                🟢 FAQ
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                🟢 1:1문의
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-category" href="#">
                🕵🏻사용자관리
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                🔵 회원
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                🔵 관리자
            </a>
        </li>

    </ul>


</div>