.login-container {
    max-width: 400px;
    margin: 100px auto;
    margin-bottom: 150px;
    padding: 20px;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 10px 0px #727272;
    background-color: white; /* Set the background color to white */
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.login-button {
    max-width: 200px; /* 버튼의 최대 너비를 설정 */
    margin: 10px auto; /* 상하 마진은 0, 좌우 마진은 자동으로 설정하여 중앙 정렬 */
    display: block; /* 버튼을 블록 요소로 만들어 너비 조정 가능하게 함 */
}


.signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 10px 0px #dedede;
}

.signup-title {
    text-align: center;
    margin-bottom: 20px;
}

.signup-button {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.validation-message {
    color: red;
    font-size: 0.8rem;
    display: none;
}

.validation-message.success {
    color: green;
}

.signup-label {
    font-weight: bold;
}