
.game-story-content .solveBtn,
.game-story-content .btn-exit {
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-story-content .btn-exit {
    margin-right: 15px; /* 조정 가능 */
}

.game-story-content .col-illustration,
.game-story-content .col-text {
    margin-bottom: 20px;
}


.text-div {
    background-color: white;
}

.shine-button::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(60deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 52%);
  animation: shine 2s linear infinite;
  transform: rotate(60deg);
}

@keyframes shine {
  from {
    transform: translateX(-50%) rotate(60deg);
  }
  to {
    transform: translateX(200%) rotate(60deg);
  }
}