
.heart-container {
    display: flex;
    align-items: center;
}


.top-container {
    background-color: #2f3245;

}

.life-cube-container {
    text-align: center;
}


.life-cube {
    font-size: 2em; /* 크기 조정 */
    color: #a06aff; /* 연보라색 */
}

.fail-cube {
    font-size: 2em; /* 크기 조정 */
    color: #5f5f5f; /* 회색빛 */
}

.custom-font {
    font-family: 'Roboto', sans-serif;
}

.level-badge {
    background-color: #17a2b8;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.min-height-350 {
    min-height: 350px;
}


input::placeholder {
    color: #b8b8b8 !important; /* 회색 텍스트 */
    font-style: italic; /* 기울임꼴 */
    font-size: 0.9em !important;
}


.shine-button::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(60deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 52%);
  animation: shine 2s linear infinite;
  transform: rotate(60deg);
}

@keyframes shine {
  from {
    transform: translateX(-50%) rotate(60deg);
  }
  to {
    transform: translateX(200%) rotate(60deg);
  }
}