    .flex-row {
      display: flex;
      flex-wrap: wrap;
    }
    .flex-column {
      display: flex;
      flex-direction: column;
    }
    .min-vh-100 {
      min-height: 100vh;
    }
    .card {
      flex-grow: 1; /* Ensure that card fills the height of the flex container */
    }