<!-- game_story_content.html -->
<div th:fragment="gameStoryContent">
    <div class="container mt-3">


        <!--타이머-->
        <div class="position-relative mt-0 p-2">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-3 text-center text-light fw-bolder d-flex align-items-center"
                     id="gameTitleDiv">
                    <p class="m-1 fs-2" th:text="${gameInfo.title}" id="gameTitleText">게임이름</p>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div id="time-bar-container">
                        <div id="time-bar"></div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3 position-absolute top-50 end-0 translate-middle-y d-flex justify-content-between align-items-center">
                    <p class="game-level-text text-light" th:text="'난이도 ' + ${gameInfo.gameLevel}"></p>
                    <button type="button" class="btn btn-primary me-0 solveBtn"
                            th:onclick="'window.location.href=\'/game/' + ${gameInfo.id} + '/solve\''">문제풀기
                    </button>
                </div>


            </div>
        </div>



        <!--스냅샷-->
        <div class="row">
            <div class="col-12 mb-3 ">
                <!-- 첫 번째 큰 div -->
                <div class=" bg-light" style="width: 100%;">
                    <img src="/img/gameSnapshot.jpg" alt="gameSnapshot" style="width: 100%; height: auto;">
                    <!--                    <img th:src="@{'/images/' + ${gameInfo.fileUrl}}" style="width: 100%; height: auto;"  alt="gameSnapshot">-->

                </div>
            </div>

            <div class="col-12 position-relative" style="width: 100%; height: 50px;">
                <!-- 두 번째 큰 div -->
                <button type="button"
                        class="btn btn-dark position-absolute top-50 end-0 translate-middle-y btnRightMargin">
                    나가기
                </button>

            </div>
        </div>



    </div>
</div>




<!--
<div th:fragment="fragment_test">
    <h1>fragment TEST</h1>

</div>-->
