<!-- game_list_content.html -->
<div th:fragment="gameList">
    <div class="container">


        <!--todo 나중에는 검색 -게임카페고리별로 -->

        <div class="gameCard-container container">
            <div class="gameCard-cards cards">
                <!--        <div class="cards">
                            &lt;!&ndash; 카드들을 반복해서 배치 &ndash;&gt;
                            <div class="gameCard-card card position-relative">
                                &lt;!&ndash;<span class="position-absolute gameCard-badge badge free-badge btn btn-success">Free</span>&ndash;&gt;
                                <span class="position-absolute top-0 end-0  gameCard-badge badge rounded-pill bg-danger">99+</span>
                                <img src="../../static/uploads/in-img/cardImg.png" alt="Game Image">
                                <div class="gameCard-card-body mx-auto p-0 d-flex align-items-center">
                                    <h3 class="gameCard-card-title mx-auto p-0 m-0 px-2">Mystery Quest</h3>
                                </div>
                            </div>-->

                <!-- th:each를 사용하여 반복 -->
                <div th:each="gameDto : ${gameListDtos}">
                    <a th:href="@{/game/{gameId}/story(gameId=${gameDto.id})}" class="text-decoration-none">
                        <div class="gameCard-card card position-relative">  <!--게임 ID ${gameDto.id}-->
                            <span class="position-absolute top-0 end-0 gameCard-badge badge rounded-pill bg-danger">99+</span>
                            <!--게임난이도 ${gameDto.gameLevel}-->
                            <!--게임카테고리 ${gameDto.gameCategory}-->
                            <!--<span th:text="${gameDto.gameLevel}" class="position-absolute top-0 end-0 gameCard-badge badge rounded-pill bg-danger">99+</span>-->

                            <img src="img/cardImg.png" alt="Game Image">
                            <!-- <img th:src="@{${gameDto.thumbnailUrl}}" alt="Game Image">-->

                            <div class="gameCard-card-body mx-auto p-0 d-flex align-items-center">
                                <h3 th:text="${gameDto.title}" class="gameCard-card-title mx-auto p-0 m-0 px-2">Mystery
                                    Quest</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- ... -->

            </div>
        </div>


    </div>
</div>