<div th:fragment="gameList">
    <input type="hidden" id="totalPages" th:value="${totalPages}" />

    <div id="gameListContainer"  class="gameCard-container mt-1 pt-4 pb-3" style="min-height: 400px; ">
        <div class="gameCard-cards">
            <div th:each="gameDto : ${results}">
                <a th:href="@{|/game/${gameDto.id}/${gameDto.gameUrlType}|}" class="text-decoration-none">
                    <div class="gameCard-card card position-relative">
                        <span class="position-absolute top-0 end-0 gameCard-badge badge rounded-pill bg-danger">NEW</span>
                        <img th:src="@{${staticUrl} + 'img/cardImg.png'}" alt="Game Image">
                        <div class="gameCard-card-body mx-auto p-0 d-flex align-items-center">
                            <h3 th:text="${gameDto.title}" class="gameCard-card-title mx-auto p-0 m-0 px-2"></h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <button id="loadMore" class="btn border border-light">더보기</button>

</div>
