body {
    font-size: .875rem;
    caret-color: transparent;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
* Sidebar
*/
.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-item:hover {
    background-color: #f8f4e1; /* This is a light grey color */
    cursor: pointer;
}


/* Add this inside the <style> tag */
.nav-category {
    background-color: #e9ecef; /* This is a light grey color, different from the main background */
    font-size: 1.1rem; /* This increases the font size */
    font-weight: bold; /* This makes the font bold */
}

/*목록 뱃지*/
.admin-table-badge-custom {
    padding: .5em .75em; /* 패딩을 조정하여 뱃지를 두껍게 만듦 */
    font-size: 1em; /* 폰트 크기를 늘려서 뱃지의 내용을 두드러지게 만듦 */
    border-radius: .25em; /* 둥근 모서리의 반경을 조정 */
    margin-right: 10px;
}
