<!-- mypage_home.html -->
<div th:fragment="myPageHome" class="container desk-container">
    <!-- The background image of the desk -->
    <img src="img/myPageHome.png" alt="Desk Background" class="desk-image">
    <!-- The overlay with buttons and content -->
    <div class="desk-overlay">
            <div class="user-info text-center mypage-menu-top">
                <a href="/mypage/my-point"><h4>병아리탐정 캬캬</h4></a>
                <a href="/mypage/my-point"><h5><span class="info-title">보유 포인트:</span> <span
                        class="info-value">1500 점</span></h5></a>
                <a href="/mypage/my-point"><h5><span class="info-title">플레이한 게임:</span> <span class="info-value">14 / 235</span>
                </h5></a>
        </div>
        <div class="mypage-menu-bottom">
            <ul class="icon-list">
                <li class="icon-li">
                    <a href="link-to-item1" class="icon-link">
                        <img src="img/myImg.png" alt="사용자 초상화">
                    </a>
                </li>
                <li class="icon-li">
                    <a href="link-to-item2" class="icon-link">
                        <span>이어하기</span>
                        <img src="img/continue.png" alt="아이콘2">
                    </a>
                </li>
                <li class="icon-li">
                    <a href="link-to-item3" class="icon-link">
                        <span>게임기록</span>
                        <img src="img/solved.png" alt="아이콘3">
                    </a>
                </li>
                <li class="icon-li">
                    <a href="link-to-item4" class="icon-link">
                        <span>랭킹보기</span>
                        <img src="img/rank.png" alt="아이콘4">
                    </a>
                </li>
                <li class="icon-li">
                    <a href="link-to-item5" class="icon-link">
                        <span>문의내역</span>
                        <img src="img/Inquiry.png" alt="아이콘5">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
