<!-- mypage_home.html -->
<div th:fragment="myPageHome" class="container mt-4 flex-row  min-vh-60">
    <div class="col-md-3 mb-3 flex-column">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active d-flex flex-column align-items-center p-3">
                <img th:src="@{${staticUrl} + 'img/detective.png'}" alt="Profile Image" class="img-thumbnail rounded-circle mb-2"
                     style="width: 80px; height: 80px;">
                <h4 th:text="${MyPageDto.nickname}" class="mb-3">닉네임</h4>
                <span th:text="'포인트 ' + ${MyPageDto.point}" class="mb-1"></span>
                <span th:text="'해결 ' + ${MyPageDto.currentRecord}" class="mb-1"></span>
            </a>
            <a th:href="@{/mypage}" class="list-group-item list-group-item-action text-center">프로필</a>
            <a th:href="@{/mypage/record}" class="list-group-item list-group-item-action text-center">게임 기록</a>
            <!-- <a th:href="@{/mypage/rankings}" class="list-group-item list-group-item-action text-center">랭킹 보기</a> -->
            <a th:href="@{/mypage/point}" class="list-group-item list-group-item-action text-center">포인트 내역</a>
            <a th:href="@{/mypage/inquiry}" class="list-group-item list-group-item-action text-center">문의 내역</a>
            <a th:href="@{/mypage/profile-update}" class="list-group-item list-group-item-action text-center">정보 수정</a>
        </div>
    </div>

    <!-- Content Section -->
    <div class="col-md-9 flex-column " th:switch="${myPageType}">
        <div th:case="'profile'" class=" min-vh-40">
            <p th:replace="~{layout/user/mypage/mypage_detail :: profile}">myPage_detail</p>
        </div>
        <div th:case="'record'">
            <p th:replace="~{layout/user/mypage/mypage_detail :: record}">myPage_detail</p>
        </div>
        <div th:case="'ranking'">
            <p th:replace="~{layout/user/mypage/mypage_detail :: ranking}">myPage_detail</p>
        </div>
        <div th:case="'point'">
            <p th:replace="~{layout/user/mypage/mypage_detail :: point}">myPage_detail</p>
        </div>
        <div th:case="'inquiry'">
            <p th:replace="~{layout/user/mypage/mypage_detail :: inquiry}">myPage_detail</p>
        </div>
        <div th:case="'profile-update'">
            <p th:replace="~{layout/user/mypage/mypage_detail :: profile-update}">myPage_detail</p>
        </div>
    </div>

</div>

