<!-- homepageBottomContent.html -->
<div th:fragment="homepageBottomContent">
    <!-- 여기에 홈페이지 아래 추천리스트  -->
    <div class="gameCard-container container">
        <div class="gameCard-cards cards"  th:each="gameDto : ${gameListDtos}" >

            <div class="gameCard-card card position-relative">
                <!--<span class="position-absolute gameCard-badge badge free-badge btn btn-success">Free</span>-->
                <span class="position-absolute top-0 end-0  gameCard-badge badge rounded-pill bg-danger">99+</span>
                <img src="../../static/uploads/in-img/cardImg.png" alt="Game Image">
                <div class="gameCard-card-body mx-auto p-0 d-flex align-items-center">
                    <h3 class="gameCard-card-title mx-auto p-0 m-0 px-2">Mystery Quest</h3>
                </div>
            </div>



        <div class="gameCard-cards cards">
            <div th:each="gameDto : ${gameListDtos}" class="game-cards">
                <div class="gameCard-card card position-relative"> <!--게임 ID ${gameDto.id}-->
                    <!--게임난이도 ${gameDto.gameLevel}-->
                    <!--게임카테고리 ${gameDto.gameCategory}-->
<!--                    <span th:text="${gameDto.gameLevel}" class="position-absolute top-0 end-0  gameCard-badge badge rounded-pill bg-danger">99+</span>-->
                    <img src="../../static/uploads/in-img/cardImg.png" alt="Game Image">
<!--                    <img th:src="@{${gameDto.thumbnailUrl}}" alt="Game Image">-->
                    <div class="gameCard-card-body mx-auto p-0 d-flex align-items-center">
                        <h3 th:text="${gameDto.title}" class="gameCard-card-title mx-auto p-0 m-0 px-2">Mystery Quest</h3>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>

</div>