<!-- content -->
<div th:fragment="faqList" class="container mt-4">

    <div><h2 class="font-weight-bold-custom ml-3 mb-3">자주 묻는 질문</h2></div>

    <!-- FAQ 항목 -->
    <div id="faqAccordion">

        <!-- 버튼 그룹 -->
        <div class="d-flex justify-content-center flex-wrap mb-3">
            <a th:href="@{/supports/faq/homepage}" class="btn btn-light m-2"  th:classappend="${faqKeyword} == 'homepage' ? 'disabled' : ''"
               role="button">홈페이지</a>
            <a th:href="@{/supports/faq/account}" class="btn btn-light m-2"  th:classappend="${faqKeyword} == 'account' ? 'disabled' : ''"
               role="button">이용/계정</a>
            <a th:href="@{/supports/faq/tutorial}" class="btn btn-light m-2"  th:classappend="${faqKeyword} == 'tutorial' ? 'disabled' : ''"
               role="button">튜토리얼</a>
            <a th:href="@{/supports/faq/content}" class="btn btn-light m-2"  th:classappend="${faqKeyword} == 'content' ? 'disabled' : ''"
               role="button">컨텐츠제안</a>
            <a th:href="@{/supports/faq/issue}" class="btn btn-light m-2"  th:classappend="${faqKeyword} == 'issue' ? 'disabled' : ''"
               role="button">기술문제/버그</a>
            <a th:href="@{/supports/faq/update}" class="btn btn-light m-2"  th:classappend="${faqKeyword} == 'update' ? 'disabled' : ''"
               role="button">게임업데이트</a>
            <a th:href="@{/supports/faq/event}" class="btn btn-light m-2"  th:classappend="${faqKeyword} == 'event' ? 'disabled' : ''"
               role="button">이벤트/프로모션</a>
            <!-- 추가 버튼 -->
        </div>
        <!-- FAQ 항목 -->

        <article th:each="faq : ${faqList}" class="card my-3 faq-item">
            <div class="card-header  faq-question">
                <h5 class="mb-0" th:text="${faq.question}">FAQ 질문</h5>
            </div>
            <div class="card-body faq-answer"  th:text="${faq.answer}" style="display: none;" >
                여기에 FAQ 답변의 내용이 들어갑니다...
            </div>
        </article>

    </div>
</div>




