<!-- content -->
<div th:fragment="noticeList" class="container mt-4">


    <div class="card" style="min-height: 500px;">

        <div class="card-body">
            <h3 class="font-weight-bold-custom mb-4">공지사항</h3>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">번호</th>
                    <th scope="col" class="text-center">제목</th>
                    <th scope="col" class="text-center">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="text-center">1</th>
                    <td><a href="/support/notice/detail/">RiddleBox 홈페이지를 오픈합니다.</a></td>
                    <td class="text-center">2024-01-01</td>
                </tr>
                <tr>
                    <th scope="row" class="text-center">2</th>
                    <td><a href="/support/notice/detail/">RiddleBox 홈페이지를 오픈합니다.</a></td>
                    <td class="text-center">2024-01-01</td>
                </tr>
                <tr>
                    <th scope="row" class="text-center">3</th>
                    <td><a href="/support/notice/detail/">RiddleBox 홈페이지를 오픈합니다.</a></td>
                    <td class="text-center">2024-01-01</td>
                </tr>
                <!-- 추가 공지사항 목록 -->
                </tbody>
            </table>
        </div>
    </div>

</div>




